<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>List Company</h2></div>
    <div class="m-3"><a class="h5 text-decoration-none" th:href="@{/company/new}">Add Company</a></div>
    <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col">ID</th>
                <th scope="col">Nama</th>
                <th scope="col">Alamat</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="compList : ${companyList}">
                <tr>
                    <td>[[${compList.id}]]</td>
                    <td>[[${compList.nama}]]</td>
                    <td>[[${compList.alamat}]]</td>
                    <td>
                        <a class="btn btn-warning me-2" th:href="@{'/company/edit/' + ${compList.id}}">Edit</a>
                        <a class="btn btn-danger" th:href="@{'/company/delete/' + ${compList.id}}">Delete</a>

                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>