<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/company/save}" method="post" th:object="${company}" style="max-width: 500px; margin:0 auto">
        <div class="mb-3">
            <label for="exampleInputId" class="form-label">ID : </label>
            <input type="number" class="form-control" id="exampleInputId" th:field="*{id}">

        </div>
        <div class="mb-3">
            <label for="exampleInputNama" class="form-label">Nama company : </label>
            <input type="text" class="form-control" id="exampleInputNama" th:field="*{nama}" minlength="1"
                   maxlength="50">

        </div>
        <div class="mb-3">
            <label for="exampleInputAlamat" class="form-label">Alamat company : </label>
            <input type="text" class="form-control" id="exampleInputAlamat" th:field="*{alamat}" minlength="1"
                   maxlength="50">

        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Save</button>
            <a class="btn btn-secondary m-2" th:href="@{'/company/'}">Cancel</a>
        </div>
<!--        <div class="mt-3">-->
<!--        </div>-->

    </form>

</div>

</body>
</html>